@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400&display=swap');

* {
  box-sizing: border-box;
}

.center {
  margin: 0;
  padding: 0;
  text-align: center;
}

.right {
  margin: 0;
  padding: 0;
  text-align: right;
}

div.fill {
  flex-grow: 1;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  display: flex;

  font-family: 'Barlow Condensed', 'Noto Sans JP';
  font-weight: 300;
  font-stretch: ultra-condensed;
  font-feature-settings: 'tnum';

  flex-direction: row;
  font-size: 180%;
}

body>div {
  height: 100%;
}

div#game {
  flex: 0 0 1920px;
}

#side {
  border-left: 1px solid;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#side>div:not(:first-child) {
  border-top: 1px solid;
}

#info {
  width: fit-content;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#info>div {
  display: inline-block;
}

#info div {
  width: fit-content;
  padding-left: 1em;
  text-indent: -1em;
}