@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300,400&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  display: flex;

  font-family: 'Barlow Condensed', 'Noto Sans JP';
  font-weight: 300;
  font-stretch: ultra-condensed;
  font-feature-settings: 'tnum';

  flex-direction: row;
}

#game {
  height: 100%;
  flex: 0 0 1920px;
}

#side {
  border-left: 1px solid;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#side>div:not(:first-child) {
  border-top: 1px solid;
}

#info {
  width: fit-content;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

/*#info * {
  border: 1px green solid;
}*/

table {
  font: inherit;
  border-collapse: collapse;
  margin-left: 1em;
  margin-right: 1em
}

td {
  padding-left: 0.5em;
}

th,
td {
  font: inherit;
  font-size: 150%;
  vertical-align: top;
}

th {
  text-align: right;
  font-style: italic;
}

th:after {
  content: ":";
}

#note {
  text-align: center;
  font-size: 150%;
  text-transform: uppercase;
  animation: blink 3s ease-in-out infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}