body,
body>yt-live-chat-app,
body>yt-live-chat-app>div#contents,
body>yt-live-chat-app>div#contents>yt-live-chat-renderer,
body>yt-live-chat-app>div#contents>yt-live-chat-renderer>iron-pages,
body>yt-live-chat-app>div#contents>yt-live-chat-renderer>iron-pages>div#chat-messages,
body>yt-live-chat-app>div#contents>yt-live-chat-renderer>iron-pages>div#chat-messages>div#contents,
body>yt-live-chat-app>div#contents>yt-live-chat-renderer>iron-pages>div#chat-messages>div#contents>div#chat,
yt-live-chat-text-message-renderer {
  background-color: transparent !important;
}

body>yt-live-chat-app>div#contents>yt-live-chat-renderer>iron-pages>div#chat-messages>div#contents>div#chat {
  padding: 0 !important;
}

body>yt-live-chat-app>div#contents>yt-live-chat-renderer>iron-pages>div#chat-messages>div#contents>div#chat>div#item-list>yt-live-chat-item-list-renderer>div#contents>div#item-scroller {
  overflow-y: hidden !important;
}

yt-live-chat-text-message-renderer {
  font-size: 250%;
  line-height: 1em;
  margin: 16px 0 16px 0 !important;
  padding: 0 !important;
}

yt-live-chat-text-message-renderer>yt-img-shadow {
  margin: 0 !important;
  border-radius: 0 !important;
  height: 1em !important;
}

yt-live-chat-text-message-renderer>yt-img-shadow>img {
  height: 100%;
  width: auto;
}

yt-live-chat-text-message-renderer>div#content {
  font-family: "DotGothic16", "Noto Sans" !important;
  color: paleturquoise;
  margin-left: 16px;
}


yt-live-chat-text-message-renderer>div#content>yt-live-chat-author-chip {
  margin: 0 !important;
  background-color: #AFEEEE40 !important;
}

yt-live-chat-text-message-renderer>div#content>yt-live-chat-author-chip>span#chat-badges>yt-live-chat-author-badge-renderer {
  height: 1em !important;
  width: 1em !important;
}

yt-live-chat-text-message-renderer>div#content>yt-live-chat-author-chip>span#chat-badges>yt-live-chat-author-badge-renderer>div#image {
  height: 100%;
}

yt-live-chat-text-message-renderer>div#content>yt-live-chat-author-chip>span#chat-badges>yt-live-chat-author-badge-renderer>div#image>yt-icon {
  height: 100%;
  width: 100%;
}

yt-live-chat-text-message-renderer>div#content>yt-live-chat-author-chip>span#chat-badges,
yt-live-chat-text-message-renderer>div#content>yt-live-chat-author-chip>span#chat-badges * {
  margin: 0 !important;
  padding: 0 !important;
}

yt-live-chat-text-message-renderer>div#content>yt-live-chat-author-chip>span#chat-badges>yt-live-chat-author-badge-renderer>div#image>yt-icon>yt-icon-shape>icon-shape>div>svg {
  fill: transparent !important;
  stroke: #AFEEEE !important;
  margin: 0 !important;
  height: 100% !important;
  transform: translate(0, -5px);
}

yt-live-chat-text-message-renderer>div#content>yt-live-chat-author-chip>#author-name {
  font-family: inherit !important;
  color: inherit !important;
  padding: 0 !important;
  background-color: transparent !important;
  padding: 0 4px 0 4px !important;
}

yt-live-chat-text-message-renderer>div#content>span#message {
  font-family: inherit !important;
  color: inherit !important;
}

yt-live-chat-text-message-renderer>div#content>span#message:before {
  content: "\00a0";
}

yt-live-chat-text-message-renderer:nth-last-of-type(2) {
  opacity: .66
}

yt-live-chat-text-message-renderer:nth-last-of-type(3) {
  opacity: calc(.66 * .66)
}

yt-live-chat-text-message-renderer:nth-last-of-type(4) {
  opacity: calc(.66 * .66 * .66)
}

yt-live-chat-text-message-renderer:nth-last-of-type(5) {
  opacity: calc(.66 * .66 * .66 * .66)
}

yt-live-chat-text-message-renderer:nth-last-of-type(6) {
  opacity: calc(.66 * .66 * .66 * .66 * .66)
}

yt-live-chat-text-message-renderer:nth-last-of-type(7) {
  opacity: calc(.66 * .66 * .66 * .66 * .66 * .66)
}

/* https://codepen.io/sosuke/pen/Pjoqqp */
div#reaction-control-panel-overlay {
  filter: sepia(1) hue-rotate(120deg) brightness(1.2);
}

/* トップチャット */
yt-live-chat-header-renderer,
/* チャット… */
#panel-pages,
/* チャットへようこそ！ */
yt-live-chat-viewer-engagement-message-renderer,
/* チャンネル登録者のみモードをオンにしました */
yt-live-chat-mode-change-message-renderer {
  display: none;
}